name: Release

on:
  push:
    tags:
      - "*.*"

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Release
      uses: softprops/action-gh-release@v2
